:root {
  /* Цветовая палитра */
  --title-color: #000000;
  --text-color: #919AA6;
  --text-darkDim-color: rgba(1, 1, 1, 0.65);
  --text-dim-color: #818C99;
  /* это для серой кнопки */
  --text-btnDim-color: #757575;
  --backg-btnDim-color: #E9ECEF;
  /* для лайков, комм и тп */
  --text-btn-color: #626D7A;
  --backg-btn-color: #F0F2F5;
  /* дополнительно */
  --border-color: #DCE1E6;

  /* Размеры шрифтов */
  --fs-small: 12px;
  --fs-medium: 16px;
  --fs-large: 25px;

  /* Жирность шрифтов */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}